@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var name = "Luilson Sousa";
    var studentnumber = "101275514";
    var coursecode = "COMP2139 - asp.net mvc";
    var coursename = "Web Application Development";
    var term = "Semester 4";
}

<!DOCTYPE html>
<html>

<head>

    <title>About me</title>

</head>

<body>
    <h1 class="display-2 text-center">About me</h1>
    <hr class="mb-5"/>
    <ul class="list-group list-group-flush mt-5">
        <li class="list-group-item about"><h2>Name : @name</h2></li>
        <li class="list-group-item about"><h2>Student Number: @studentnumber</h2></li>
        <li class="list-group-item about"><h2>Course Code: @coursecode</h2></li>
        <li class="list-group-item about"><h2>Course Name: @coursename</h2></li>
        <li class="list-group-item about bottom-border"><h2>Term: @term</h2></li>
    </ul>
</body>
</html>